* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* REQUISITO 1 e REQUISITO 3*/
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(50, 167, 145);
  height: 40px;
  padding: 5px;
}
.trybewarts-login {
  display: flex;
}
/* REQUISITO 4 */
header:nth-child(){
  align-items: center;
  text-align: center;
}

/* REQUISITO 5 */
.main-content {
  display: flex;
}
/* REQUISITO 8 */
#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}
/* REQUISITO 7 */
#trybewarts-forms-logo {
  height: 500px;
}
