* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* REQUISITO 1 e REQUISITO 3*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  height: 40px;
  padding: 5px;
}

#trybewarts-header-title {
  text-align: center;
}
.trybewarts-login {
  display: flex;
}
/* REQUISITO 4 */
header:nth-child(){
  align-items: center;
  text-align: center;
}

/* REQUISITO 5 */
.main-content {
  display: flex;
}
/* REQUISITO 8 */
#evaluation-form {
  display: flex;
  /* Requisito 6 */
  flex-direction: column;
  width: 675px;
}
/* REQUISITO 7 */
#trybewarts-forms-logo {
  height: 500px;
}

/* Requisito 12 e Requisito 13 */
.flex-container {
  display: flex;
}
#label-family-container, #label-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin: 5px;
}


/* Requisito 19 */
footer {
  display: flex;
  justify-content: center;
  background-color: rgb(63, 56, 56);
  color: white;
  height: 30px;
}