@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Dancing+Script&family=The+Nautigal:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Cormorant Garamond', serif;
}
/* REQUISITO 1,3 e 4*/
.header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(50, 167, 145);
  height: 60px;
  padding: 8px;
}
.trybewarts-login {
  display: flex;
}
.input-email,.input-password, .btn-enter{
  margin: 2px;
  padding: 2px;
}
h1 {
  color: white;
}
h2 {
  margin:20% ;
  padding: 10px;
}

/* REQUISITO 5 */
.main-content {
  display: flex;
}
/* REQUISITO 8 */
#evaluation-form {
  display: flex;
  /* Requisito 6 */
  flex-direction: column;
  margin: 0 5%;
  width: 675px;
}
#complete-name, #email-house {
  margin: 2px;
}
/* REQUISITO 7 */
#trybewarts-forms-logo {
  height: 500px;
  margin: 0 5%;
}

/* Requisito 12 e Requisito 13 */
.flex-container {
  display: flex;
}
#label-family-container, #label-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin: 5px;
}

.textarea-content-item{
  display: flex;
  flex-direction: column;
}
#submit-btn{
  margin: 2% 0;
}

/* Requisito 19 */
footer {
  display: flex;
  justify-content: center;
  background-color: rgb(53, 44, 44);
  color: white;
  height: 30px;
  padding: 5px 5px;
}